.sidebar {
  width: 60px;
  background: linear-gradient(to bottom, #C1EBDE, #009F6D);
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.menu-icon {
  font-size: 24px;
  color: #20C997;
  cursor: pointer;
}
  
 
  